/* * {
    border: 2px solid red;
} */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#page {
    display: grid;
    grid-template: 100vh / 20vw 70vw;

}

/* Left Nav Bar */
.sidebar {
    background-color: #1992d4;
    color: white;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 18px;
}

.logo > .logoimg {
    height: 64px;
}

.logo > .logotext {
    font-size: 32px;
    font-weight: 600;
    padding-left: 12px;
}

.nav-list {
    display: grid;
    grid-template-columns: 3vw 10vw;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh;
    padding: 36px;
    font-weight: 500;
    font-size: 24px;
}


/* Main Content */
.content {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 10vh 15vh 75vh;
}

/* Top Bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-left: 48px;
    
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 24px;
    margin-right: 18px;
}

.search {
    border-radius: 24px;
    text-decoration: none;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
    height: 24px;
    width: 40vw;
}

.notifications {
    font-size: 24px;
    margin-left:
}

.profile-pic {
    height: 64px;
    border-radius: 50%;
    margin-left: 32px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    margin-left: 32px;
    white-space: nowrap;
}

.profile-bar {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 32px;
}


/* Second Top Bar */
.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-left: 48px;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 24px
}

.profile-pic-large {
    height: 96px;
    border-radius: 50%;
}

.hi-there {
    font-weight: 500;
    font-size: 16px;
}

.username {
    font-weight: 600;
    font-size: 24px;
}


/* Main Content */
